{% load static %}

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   Login Portal - Recover Passwod
  </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="A premium admin dashboard template by mannatthemes" name="description">
   <meta content="Mannatthemes" name="author"/>
   <!-- App favicon -->
   <link href="{% static 'assets/images/favicon.ico' %}" rel="shortcut icon"/>
   <!-- App css -->
   <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
   <link href="assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="assets/css/metismenu.min.css" rel="stylesheet" type="text/css"/>
    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
   </link>
  </meta>
 </head>
 <body class="account-body">
  <!-- Log In page -->
  <div class="row vh-100">
   <div class="col-lg-3 pr-0">
    <div class="card mb-0 shadow-none">
     <div class="card-body">
      <div class="px-3">
       <div class="media">
        <a class="logo logo-admin" href="#">
         <img alt="logo" class="my-3" height="55" src="{% static 'assets/images/logo-sm.png' %}"/>
        </a>
        <div class="media-body ml-3 align-self-center">
         <h4 class="mt-0 mb-1">
          Reset Password
         </h4>
         <p class="text-muted mb-0">
          Enter your Email and instructions will be sent to you!
         </p>
        </div>
       </div>
       <form action="index.html" class="form-horizontal my-4">
        <div class="form-group">
         <label for="username">
          Email Address
         </label>
         <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" id="basic-addon1">
            <i class="mdi mdi-email-outline font-16">
            </i>
           </span>
          </div>
          <input class="form-control" id="username" placeholder="Email Address" type="text"/>
         </div>
        </div>
        <div class="form-group mb-0 row">
         <div class="col-12 mt-2">
          <button class="btn btn-primary btn-block waves-effect waves-light" type="submit">
           Reset
           <i class="fas fa-sign-in-alt ml-1">
           </i>
          </button>
         </div>
        </div>
       </form>
      </div>
      <div class="m-3 text-center bg-light p-3 text-primary">
       <h5 class="">
        Remember It ?
       </h5>
       <p class="font-13">
        Sign In
       </p>
       <a class="btn btn-primary btn-round waves-effect waves-light" href="#">
        Sign In here
       </a>
      </div>
     </div>
    </div>
   </div>
   <div class="col-lg-9 p-0 d-flex justify-content-center">
    <div class="accountbg d-flex align-items-center">
     <div class="account-title text-white text-center">
      <img alt="" class="thumb-sm" src="{% static 'assets/images/logo-sm.png' %}"/>
      <h3 class="">
       Recover Password
      </h3>
      <p class="font-14 mt-3">
       Remember It ?
       <a class="text-primary" href="/auth-login.html">
        Sign In here
       </a>
      </p>
     </div>
    </div>
   </div>
  </div>
  <!-- End Log In page -->
  <!-- jQuery  -->
  <script src="{% static 'assets/js/jquery.min.js' %}">
  </script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}">
  </script>
  <script src="{% static 'assets/js/metisMenu.min.js' %}">
  </script>
  <script src="{% static 'assets/js/waves.min.js' %}">
  </script>
  <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}">
  </script>
  <!-- App js -->
  <script src="{% static 'assets/js/app.js' %}">
  </script>
 </body>
</html>
